{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

  {{ macros::head() }}

  <body>

      {{ macros::header() }}

      <section id="about">
        <div class="user-details">
          <h1> About Me </h1>
        </div>
        <div class="user-about">
          <div class="images-left">
            <img id="profile" alt="profile" src="{{ config.base_url ~ "/img/profile.png" }}" />
          </div>
          <div class="contents-right">
            <p>
              I am an undergraduate student majoring in Physics and Applied Mathematics at the University of Utah. 
              Currently, I study critical phenomena in the collapse of black holes using Numerical Relativity. 
            </p>
          </div>
        </div>
      </section>


      <section id="projects">
        <div class="user-details">
          <h1> Projects </h1>
        </div>
        <div class="user-projects">
          <div class="images-right">
            <img alt="toymodel" src="{{ config.base_url ~ "/img/toymodel.png" }}" />
          </div>
          <div class="contents">
            <h3> Black Hole Simulations using the Finite Difference Method </h3>
            <p>My current research investigates the behaviour of critical black hole collapse using numerical methods. 
              In spherical symmetry critical collapse reveals a suprising degree of structure, and appears to contradict 
              the principle of cosmic censorship. I am studying such collapse in axisymmetry to help determine how such critical
              phenomena changes in higher dimensional systems.
            </p>
            <!-- <a class="project-link" href="#">Check it out</a> -->
          </div>
        </div>
      </section>


      {% block content %}
      <p></p>
      {% endblock content %}


      {{ macros::footer() }}
      <!-- {# macros::google_analytics() #} -->

  </body>
